language: python
branches:
  only:
  - master
  - "/^v\\d+\\.\\d+\\.\\d+$/"
env:
  global:
  - REPOMATE_JUNIT4_HAMCREST="hamcrest-core-1.3.jar"
  - REPOMATE_JUNIT4_JUNIT="junit-4.12.jar"
matrix:
  include:
  - os: linux
    python: 3.5
    sudo: true
  - os: linux
    python: 3.6
    sudo: true
  - os: linux
    python: 3.7
    dist: xenial
    sudo: true
  - os: osx
    env: PYTHON=3.5.4
    language: generic
    sudo: true
  - os: osx
    env: PYTHON=3.6.5
    language: generic
    sudo: true
  - os: osx
    env: PYTHON=3.7.0
    language: generic
    sudo: true
install: ".travis/install.sh"
script: ".travis/run.sh"
after_success:
- codecov
notifications:
  email: false
  slack:
    on_success: change
    on_failure: always
    secure: Cq4Y2dwkNNE7hIZSEtmvNHI/2TZYzKpAJqbb6QPKG0hilx3PGetbs7fWy+ru6gRVW7A494Yk/4+ZO/9A92Pn0QHbbWtJZuU61pC2zxtkH2VKAzMVFly4gkL7L5Q9B8drAoer1usI4OtlN7eyqegTGAT8NEbhaynsJweEDZbWCWoXdQkl4tX6pYyDX/6HAWkfsQLaLPczLACyKYl812qAt7u6fFD+hcjdVrs/LfM9Cdt1gW3t9cVNm/Lqmla+I5OYjRRgbHm4XgsTrhNR0IoAxbktcxSwemnjTzwTsn7VQ9y4t8NlBRB5LUfw/0ihehKl7O4QS2c1G1uLhKHZZSfU8Di/qGGSvj/QBFvyZPDA8a/fmMBrNIHwy4k46l1ZfdDnX65oDbncHuXcFOVlTx85C5Zpy86tQDVktXf3kDlzsUtLgKtAY5dvLMDAwTvkX5M05DMwC51A+b2wsM1zs14CkeTFjHfsBIhDek91YfUEx6dRmnhg1KXVA+q02DKNoI0D5sNkOcgBnVATQOo29zcRKnyit93LBG3EiQYiIhubtwMkveXlEE3Qd5bUSdVuTMObN2nhm1bmYGrJ68dR+zKbsBZ51fcar6YeecmLCF6epBcZI++3AEH5/gu4qXb7A2pbxtiARJtxliI83d6CwEycPWhpjQ4p5UnByMhvKnKv14w=
deploy:
  provider: pypi
  user: slarse
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = "linux"
  password:
    secure: tpGvW1G8GeBVbOa27W/WWE9BzD2AICkgBNwjFt2/zrFhX9OBXlTqI/ZicVUoyOrKkfWGHmwd4myQuuRS9Sq1O0Zzwkli8JAczUwq7DCkZOdF2gBqdf2t/bLX/QDcZc+d9/xK1agYc7wLqBHTRNJ+N3/HWvg/LzggmCJaVTRvyQWJUDvGKtK6lY3sx+iiM3Z12bYUzrOM7BgKtH173JtrKSFgDdMgnGU6TOylqYNZSs5m/oNDtXbZUDTCveeW5d6d5MiOZkHudWt7Xt88N4VgFynkKvSP5FfjFE57GU7K1p7Q9oJgWilzNM029niaO4rUTaLm8o4Lt2Yb7ylS5I5ht5Cl2S2FMYdKIzbGrFaAZga07hHu96LpDVniAlsUnQ6kNkUMRL75tUDWhSH0NcxcuZB1+CvTepEYtLPV17JnVsgn5bNixOhc+rqo6XvICYT96/ibsvaf0Tr83Edj9Mbp8ilItfo4dIGj651QT9PknZLQ3nCtM8CKiZBI8FpJOUbfAQRlW5HdNSycIkIEB3eqFortRknk6QtBg2IMAqm9tiplH3Y1EYRBmDxNfI5u6OfBIqhuDFOIoPoCsaRAkCeFJRpT3PO0HrNLDQrPFZz6SvMjabIQonnzzrw1xTSVAXP+yFfVspABlePvse6+P5aOMWBx+UrVLVWFv3vjEDkCJJ4=
  distributions: sdist bdist_wheel
  repo: slarse/repomate-junit4
  skip_existing: true
